* {
    margin: 0;
}

#background {
    width: 970px;
    height: 690px;
    background-color: blue;
    padding: 10px;
}


/*.body {
    border-radius: 10px;
}*/

#top {
    background-color: #f44242;
    width: 970px;
    height: 75px;
    color: #c9cfd6;
    line-height: 60px;
    text-indent: 20px;
    border-radius: 10px;
}

#mid {
    display: inline-block;
    padding-top: 20px;
}

.left {
    background-color: lightseagreen;
    width: 180px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    text-align: left;
    height: 220px;
}

.right {
    background-color: black;
    width: 725px;
    height: 500px;
    display: inline-block;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    padding: 15px;
}

#bottom {
    background-color: grey;
    width: 960px;
    margin-top: 15px;
    border-radius: 10px;
}

a {
    color: #80e5d2;
}

#childlist {
    list-style-type: circle;
}

span {
    color: #472d8e;
}

h2 {
    margin: 0px;
}

.right ul li p {
    margin: 5px 0;
}

#bottom p {
    padding: 15px 0 15px 15px;
    color: white;
}

#movelist {
    position: absolute;
    left: 0px;
}

.before {
    color: white;
}